img.heading__img {
    max-width: inherit;
    width: inherit !important;
}

figure.wp-block-image.alignfull img{
    width: inherit;
    max-width: inherit;
}

.heading {
    position: relative;
    overflow-x: hidden;
    padding-bottom: 6rem;

    &__img {

        &--container {
            position: relative;
            clip-path: ellipse(85% 65% at 50% 32%);

            @include respond(xl) {
                clip-path: ellipse(65% 65% at 50% 32%);
            }
        }
    }

    .block-editor-block-list__layout 
    .block-editor-block-list__block 
    &__content,
    &__content {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45%;
        color: map-get($colors, 'background' );
        max-width: 65.2rem;
        padding: 0 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(md) {
            top: 40%;
        }

    }

    &__h1 {
        margin-bottom: 2rem;
        border-right: 2px solid rgba(255,255,255,.75);
        text-align: center;
        white-space: pre-line !important;
        overflow: hidden;
        transition: all .6s ease-in;

        @include respond(md) {
            white-space: nowrap !important;
        }

        
        @supports ((-webkit-background-clip: text)) {
            & {
                color: transparent;
                background-image: linear-gradient(to right, map-get($colors, secondary), map-get($colors, tertiary) );
                -webkit-background-clip: text;
            }
        }

        &--container {

            width: 100%;

            @include respond(md) {        
                max-width: min-content;
            }
        }
    }

    &__text {
        font-size: 3.2rem;
        margin-bottom: 6rem;
    }

    &__btn {
        width: 24.6rem;
    }

}