.posts {
    display: flex;
    padding: 0 1rem;
    max-width: 164rem;
    margin: 0 auto;
    justify-content: space-between;


    &__content {
        padding: 2rem;
        
        @include respond(md) {
            padding: 2rem 4rem;
        }
    }

    &__card {
        border-radius: 1.4rem;
        box-shadow: $cta-shadow;
        flex: 1;
    }

    &__img {
        width: 100%;
    }

    &__title,
    &__title a:link,
    &__title a:visited
    {
        text-decoration: none;
        color: map-get($colors, "primary");
        font-weight: 800;
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 4rem;

        @include respond(md) {
            font-size: 3.2rem;
        }

    }

    &__excerpt {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
        word-break: break-all;

        @include respond(md) {
            font-size: 2.4rem;
        }
    }

    &__captions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        flex-direction: column;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 800;

        @include respond(md) {
            flex-direction: row;
            justify-content: space-between; 
        }

        &--text {

            &:not(:last-child) {
                margin-bottom: 1rem;
                
                @include respond(md) {
                    margin-bottom: 0;
                }
            }

            @include respond(md) {
                font-size: 1.8rem;
            }
        }
    }

    &__btn {
        max-width: 30.6rem;
        padding: 1rem 4rem;
        margin: 0 auto;
    }
}

.article {
    padding: 0 2rem;
    width: 100%;
    margin-bottom: 4rem;

    @include respond(md) {
        position: relative;
        top: 0;
        margin-top: -22rem;
        left: 0;
        transform: translate(0, 0);
    }
    
    &__card {
        background-color: map-get($colors, "background");
        margin: 0 auto;
        max-width: 80rem;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        padding: 4rem;
        position: relative;
    }

    &__h1 {
        font-size: 3.2rem;
        padding: 2rem 0;
        font-family: $garamond;

        @include respond(md) {
            font-size: 6.4rem;
        }
    }

    &__h4 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__text {
        max-width: 80rem;
        margin: 0 auto;
        font-size: 1.6rem;
        margin-bottom: 4rem;

        & > p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__footer {
        margin-bottom: 4rem;
    }

    &__author {

        font-size: 2.4rem;
        font-family: $garamond;
        margin-bottom: 2rem;

        &--img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            margin-bottom: 4rem;
        }
    }

    &__text {
        font-size: 1.6rem;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(sm) {
            flex-direction: row;
        }
    }

    &__item {
        padding: 1rem 2rem;
        background-color: map-get($colors, 'primary');
        color: white;
        border-radius: 5rem;
        font-size: 1.4rem;
        margin-bottom: 1rem;

        @include respond(sm) {
            margin-bottom: 0;
            
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

}

.search {
    
    &__card {
        background-color: map-get($colors, "background");
        margin: 0 auto;
        max-width: 80rem;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        @include respond(lg) {
            flex-direction: row;
            height: 20rem;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include respond(lg) {
            width: 35rem;
        }
    }

    &__content {
        padding: 1rem 2rem;
        text-align: center;
        flex: 1;

        @include respond(lg) {
            padding: 2rem 4rem;
        }
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    &__excerpt {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
}

.wp-block-query {
    flex: 1;
    padding: 0;
    margin: 0 auto;
    width: 100%;

  @include respond(sm){
    max-width: 48.0rem !important;
  }

  @include respond(md){
    max-width: 72rem !important;
  }

  @include respond(lg){
    max-width: 140rem !important;
  }

  @include respond(xl){
    max-width: 164rem !important;
  }
}

.wp-block-post-template {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @extend .wp-block-post-template;
                
    @include respond(lg){
        flex-direction: row;

        & .wp-block-post{
            margin-block-start: 0;
            padding: $gutter-horizontal !important;
            min-width: 0;
            width: 100%;
            flex: 0 0 calc( (6/ 12) * 100%);
        }
    }
}

.wp-block-post-title {
    @extend .posts__title;
}

.wp-block-post-excerpt__excerpt {
    @extend .posts__excerpt
}

.wp-block-post-excerpt__more-text {
    text-align: center;
    font-size: 1.4rem;
}

.wp-block-post-excerpt__more-link {
    @extend .btn, .btn--primary, .posts__btn;
    margin-bottom: 4rem !important;
}

.wp-post-image {
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
}

.wp-block-post-author__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-block-post-author__byline {
    margin-right: 1rem;
}