.form {

    &__search {
        max-width: 81.1rem;
        width: 100%;
        height: 8.6rem;
        margin: 0 auto;
        margin-top: 4rem;

        @include respond(xl) {
            // margin-bottom: 6.4rem;
        }
    }

    &__group {
        position: relative;
    }

    &__input {
        font-size: 1.6em;
        border-radius: 5rem;
        width: 100%;
        padding: 0 4rem;
        height: 5.6rem;
        box-shadow: $cta-shadow;
        outline: none;
        border: none;

    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 26rem;
    }
    
}