<!-- wp:template-part {"slug":"navigation","tagName":"navigation"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group { "layout": {"inherit":true} } -->
<div class="wp-block-group article">
        
    <!-- wp:group -->
        <div class="wp-block-group article__card">
            <!-- wp:post-title /-->
        </div>
    <!-- /wp:group -->

    <!-- wp:post-excerpt { "layout": {"inherit":true} /-->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
