<!-- wp:template-part {"slug":"navigation","tagName":"navigation"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group { "layout": {"inherit":true} } -->
    <div class="wp-block-group article">
        
        <!-- wp:group -->
            <div class="wp-block-group article__card">
                
                <!-- wp:post-title /-->
                
                <!-- wp:group -->
                    <div class="wp-block-group article__group">
                        <!-- wp:paragraph -->
                            <p class="article__h4">Categories</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:post-terms {"term":"category"} /-->

                    </div>
                <!-- /wp:group -->

                <!-- wp:group -->
                <div class="wp-block-group article__group">
                    <!-- wp:paragraph -->
                        <p class="article__h4">Tags</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:post-terms {"term":"post_tag"} /-->
                    
                </div>
            <!-- /wp:group -->

            </div>
        <!-- /wp:group -->

        <!-- wp:post-excerpt { "layout": {"inherit":true} /-->

        <!-- wp:group -->
            <div class="wp-block-group article__footer">
                                    
                <!-- wp:group -->
                    <div class="wp-block-group article__card">

                        <!-- wp:post-author { "byline": "Written by:" } /-->

                    </div>
                <!-- /wp:group -->

            </div>
        <!-- /wp:group -->

    </div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->